@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  overflow-x: hidden;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.hero_background_image{
  background-image: url("/BackgroundGradient.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000000;
  background-opacity: 0.5;
  background-filter: blur(10px);
  background-color: #000000;
  background-opacity: 0.5;
  background-filter: blur(10px);
}